@import './edge';
@import './components/index';

html,
body,
#app {
  height: 100%;
  position: relative;
}

.clearfix {
  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.d-ib {
  display: inline-block!important;
}

.d-b {
  display: block!important;
}

[v-cloak] {
  display: none;
}

.nowrap {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
